<% content_for :title do %>About<% end %>
<h3>About Verna Koskinen</h3>
<p>She is currently studying environmental technologies in Lahti University of Applied Sciences. She has recently also studying coding on her own, to be able to work without limiations on her location.</p>
<p>May the truth be with you!</p>