<% content_for :title do %>About<% end %>
<h3>About Verna Koskinen</h3>
<p>I am currently studying environmental technologies in Lahti University of Applied Sciences. I have recently also begun studying coding on my own, to be able to work without limiations on my location.</p>
<p>This is my first Ruby on Rails application, following Daniel Kehoe's <a href="http://learn-rails.com/learn-ruby-on-rails.html">Learn Ruby on Rails</a> tutorial.</p>
<p>May the truth be with you!</p>